In [1]:
d1={'a':100,'b':200,'c':300}
d2={'d':200,'e':400,'f':500}

In [2]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [3]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [6]:
d2.update(d1)
d2

{'a': 100, 'b': 200, 'd': 400, 'c': 300}

In [8]:
def add(x):
    return x+10
add(10)

20

In [13]:
# How many arguments are there
# What are you returning

#<function_name>=lambda <argument names>:<return>
add=lambda x:x+10

add(10)

20

In [15]:
def mul(num):
    return(num*num)

In [14]:
mul=lambda num:num*num
mul(5)

25

In [ ]:
def cube(val):
    return(val*val*val)

In [16]:
cube=lambda val:val*val*val
cube(3)

27

In [ ]:
def sum1(a,b):
    return(a+B)

In [18]:
sum1=lambda a,b:a+b
sum1(10,20)

30

In [19]:
sum2=lambda a,b,c:a+b+c
sum2(10,20,30)

60

In [20]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

In [21]:
avg=lambda a,b,c=100:(a+b+c)/3
avg(10,20)

43.333333333333336

In [22]:
avg=lambda a,b,c=100:round((a+b+c)/3,2)
avg(10,20)

43.33

In [23]:
def greater(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2
greater(50,100)

100

In [ ]:
#<function_name>=lambda <arguments>: output if(condition) else output

In [30]:
greater=lambda num1,num2 : num1 if (num1>num2) else num2
greater(50,100)

100

In [32]:
list1=['hyd','blr','mum']
op=[]
op=lambda list1:op.append(i.capitalize) for i in list1

SyntaxError: invalid syntax (Temp/ipykernel_8020/679182538.py, line 3)

In [33]:
list1=['hyd','blr','mum']
output=[i.capitalize() for i in list1]
output

['Hyd', 'Blr', 'Mum']

In [41]:
list(map(lambda i:i.capitalize(),list1))

# Step1: Create a lambda function     lambda i:i.capitalize()
# Step2: add your iterator   list1     Anything list/tuple/string
# Step3: mapping
# Stpe4 need to convert anything list or tuple

['Hyd', 'Blr', 'Mum']

In [42]:
tuple(map(lambda i:i.capitalize(),list1))

('Hyd', 'Blr', 'Mum')

In [35]:
val=reversed('Python')

In [36]:
for i in val:
    print(i)

n
o
h
t
y
P

In [45]:
list1=[1,2,3,4]
list(map(lambda i:i*i,list1))

[1, 4, 9, 16]

In [52]:
def square():
    op=[]
    list=eval(input("Enter list value"))
    for i in list:
        op.append(i*i)
    print(op)
square()

Enter list value10,20,30,40,50
[100, 400, 900, 1600, 2500]

In [57]:
list1=['hyd','biryani','Buvaneswar','rasagulla']
list(filter(lambda i:len(i)>5 ,list1))

['biryani', 'Buvaneswar', 'rasagulla']

In [58]:
list1=['hyd','biry#ani','Buva#neswar','rasagu#lla']
list(filter(lambda i:'#' in i ,list1))

['biry#ani', 'Buva#neswar', 'rasagu#lla']

In [ ]:
l1=[1,2,3,4,5,6]
output: [{'even':[2,4,6]},{'odd':[1,3,5]}]
output:[{1:'odd',2:'even'}]

In [71]:
l1=[1,2,3,4,5,6]
list(map(lambda i:{i:'even'} if i%2==0 else {i:'odd'},l1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]